# ignore everything…
/*
# …except what we explicitly track
!/.gitignore
!/README.md
!/install
!/assets/
!/ghostty/
!/herdr/
herdr/*
!herdr/config.toml
!/pi/
pi/agent/*
!pi/agent/settings.json
!pi/agent/mcp.json
!pi/agent/themes/
!pi/agent/extensions/
!pi/agent/skills/
!pi/agent/agents/
!/nvim/
!/starship.toml
!/zsh/

# generated / local junk
.DS_Store
.zsh_history
.zcompdump*
*.bak
*.bak.*
